Repository cardevisi/super-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests

fix(app): adjust props icons types and adjust config lintstage (#9)
  .husky/pre-commit
  .lintstagedrc.json
  app/index.tsx
Due: prettier --write, eslint --fix

chore: changes the conventional commit tool
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  commitlint.config.mjs
  package-lock.json
  package.json
Due: none

chore: changes the conventional commit tool (#10)
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  commitlint.config.mjs
  package-lock.json
  package.json
Due: none

feat: create the search bar input component
  app/index.tsx
  src/shared/components/icon-button/icon-button.style.ts
  src/shared/components/icon-button/icon-button.test.tsx
  src/shared/components/icon-button/icon-button.tsx
  src/shared/components/icon-button/index.ts
  src/shared/components/search-bar/index.ts
  src/shared/components/search-bar/search-bar.style.ts
  src/shared/components/search-bar/search-bar.test.tsx
  src/shared/components/search-bar/search-bar.tsx
  src/theme/borderRadius.ts
  src/theme/colors.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create the search bar input component (#11)
  app/index.tsx
  src/shared/components/icon-button/icon-button.style.ts
  src/shared/components/icon-button/icon-button.test.tsx
  src/shared/components/icon-button/icon-button.tsx
  src/shared/components/icon-button/index.ts
  src/shared/components/search-bar/index.ts
  src/shared/components/search-bar/search-bar.style.ts
  src/shared/components/search-bar/search-bar.test.tsx
  src/shared/components/search-bar/search-bar.tsx
  src/theme/borderRadius.ts
  src/theme/colors.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create the card component
  app/index.tsx
  src/shared/assets/childImage.png
  src/shared/assets/childImage@2x.png
  src/shared/assets/childImage@3x.png
  src/shared/assets/index.ts
  src/shared/components/card/card.styles.ts
  src/shared/components/card/card.test.tsx
  src/shared/components/card/card.tsx
  src/shared/components/card/card.types.ts
  src/shared/components/card/index.js
  src/shared/components/index.ts
  src/shared/index.ts
  src/theme/borderRadius.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create the card component (#12)
  app/index.tsx
  src/shared/assets/childImage.png
  src/shared/assets/childImage@2x.png
  src/shared/assets/childImage@3x.png
  src/shared/assets/index.ts
  src/shared/components/card/card.styles.ts
  src/shared/components/card/card.test.tsx
  src/shared/components/card/card.tsx
  src/shared/components/card/card.types.ts
  src/shared/components/card/index.js
  src/shared/components/index.ts
  src/shared/index.ts
  src/theme/borderRadius.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create the text-with-label component
  app/index.tsx
  src/shared/components/index.ts
  src/shared/components/text-with-label/index.js
  src/shared/components/text-with-label/text-one-line/index.js
  src/shared/components/text-with-label/text-one-line/text-one-line.styles.ts
  src/shared/components/text-with-label/text-one-line/text-one-line.test.tsx
  src/shared/components/text-with-label/text-one-line/text-one-line.tsx
  src/shared/components/text-with-label/text-one-line/text-one-line.types.ts
  src/shared/components/text-with-label/text-with-label.styles.ts
  src/shared/components/text-with-label/text-with-label.test.tsx
  src/shared/components/text-with-label/text-with-label.tsx
  src/shared/components/text-with-label/text-with-label.types.ts
  src/shared/index.ts
  src/theme/colors.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create the text-with-label component (#13)
  app/index.tsx
  src/shared/components/index.ts
  src/shared/components/text-with-label/index.js
  src/shared/components/text-with-label/text-one-line/index.js
  src/shared/components/text-with-label/text-one-line/text-one-line.styles.ts
  src/shared/components/text-with-label/text-one-line/text-one-line.test.tsx
  src/shared/components/text-with-label/text-one-line/text-one-line.tsx
  src/shared/components/text-with-label/text-one-line/text-one-line.types.ts
  src/shared/components/text-with-label/text-with-label.styles.ts
  src/shared/components/text-with-label/text-with-label.test.tsx
  src/shared/components/text-with-label/text-with-label.tsx
  src/shared/components/text-with-label/text-with-label.types.ts
  src/shared/index.ts
  src/theme/colors.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

refactor: card component
  src/shared/components/card/card.styles.ts
  src/shared/components/card/card.test.tsx
  src/shared/components/card/card.tsx
  src/shared/components/text-with-label/text-one-line/text-one-line.tsx
  src/shared/components/text-with-label/text-with-label.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

refactor: card component (#14)
  src/shared/components/card/card.styles.ts
  src/shared/components/card/card.test.tsx
  src/shared/components/card/card.tsx
  src/shared/components/text-with-label/text-one-line/text-one-line.tsx
  src/shared/components/text-with-label/text-with-label.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create a customer text input component
  app/index.tsx
  package-lock.json
  package.json
  src/shared/components/custom-text-input/custom-text-input.style.ts
  src/shared/components/custom-text-input/custom-text-input.test.tsx
  src/shared/components/custom-text-input/custom-text-input.tsx
  src/shared/components/custom-text-input/index.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: add custom properties
  src/shared/components/custom-text-input/custom-text-input.tsx
  src/shared/components/custom-text-input/custom-text-input.type.ts
Due: prettier --write, eslint --fix

feat: create a custom text input component (#15)
  app/index.tsx
  package-lock.json
  package.json
  src/shared/components/custom-text-input/custom-text-input.style.ts
  src/shared/components/custom-text-input/custom-text-input.test.tsx
  src/shared/components/custom-text-input/custom-text-input.tsx
  src/shared/components/custom-text-input/custom-text-input.type.ts
  src/shared/components/custom-text-input/index.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create the UserImage component
  src/shared/components/index.ts
  src/shared/components/text-with-label/text-one-line/text-one-line.tsx
  src/shared/components/text-with-label/text-with-label.tsx
  src/shared/components/user-image/index.js
  src/shared/components/user-image/user-image.styles.ts
  src/shared/components/user-image/user-image.test.tsx
  src/shared/components/user-image/user-image.tsx
  src/shared/components/user-image/user-image.types.ts
  src/shared/index.ts
  src/theme/borderRadius.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create the UserImage component (#16)
  src/shared/components/index.ts
  src/shared/components/text-with-label/text-one-line/text-one-line.tsx
  src/shared/components/text-with-label/text-with-label.tsx
  src/shared/components/user-image/index.js
  src/shared/components/user-image/user-image.styles.ts
  src/shared/components/user-image/user-image.test.tsx
  src/shared/components/user-image/user-image.tsx
  src/shared/components/user-image/user-image.types.ts
  src/shared/index.ts
  src/theme/borderRadius.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

refactor: adjusts card and refactor image
  app/index.tsx
  src/shared/components/card/card.styles.ts
  src/shared/components/card/card.test.tsx
  src/shared/components/card/card.tsx
  src/shared/components/user-image/user-image.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

refactor: adjusts card and refactor image (#17)
  app/index.tsx
  src/shared/components/card/card.styles.ts
  src/shared/components/card/card.test.tsx
  src/shared/components/card/card.tsx
  src/shared/components/user-image/user-image.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

wip
  package-lock.json
  package.json
  src/app/children/index.tsx
  src/app/children/styles.ts
  src/app/index/index.tsx
  src/app/payments/index.tsx
  src/theme/package.json
  tsconfig.json
Due: prettier --write, eslint --fix

feat: create pages and routes
  app/index.tsx
  assets/logo-super.svg
  package-lock.json
  package.json
  src/app/(auth)/login.tsx
  src/app/(auth)/register.tsx
  src/app/(main)/(presence)/_layout.tsx
  src/app/(main)/(presence)/confirmed.tsx
  src/app/(main)/(presence)/to-confirm.tsx
  src/app/(main)/childrens/list.tsx
  src/app/(main)/home/index.tsx
  src/app/(main)/payments/list.tsx
  src/app/(main)/profile/[id].tsx
  src/app/(main)/profile/edit.tsx
  src/app/+not-found.tsx
  src/app/_layout.tsx
  src/app/index.tsx
  src/screens/home/home.styles.ts
  src/screens/home/home.test.tsx
  src/screens/home/home.tsx
  src/screens/home/home.types.ts
  src/screens/home/index.ts
  src/screens/index.ts
  src/shared/assets/index.ts
  src/shared/assets/page-not-found.svg
  src/theme/colors.ts
  tsconfig.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create pages and routes (#18)
  app/index.tsx
  assets/logo-super.svg
  package-lock.json
  package.json
  src/app/(auth)/login.tsx
  src/app/(auth)/register.tsx
  src/app/(main)/(presence)/_layout.tsx
  src/app/(main)/(presence)/confirmed.tsx
  src/app/(main)/(presence)/to-confirm.tsx
  src/app/(main)/childrens/list.tsx
  src/app/(main)/home/index.tsx
  src/app/(main)/payments/list.tsx
  src/app/(main)/profile/[id].tsx
  src/app/(main)/profile/edit.tsx
  src/app/+not-found.tsx
  src/app/_layout.tsx
  src/app/index.tsx
  src/screens/home/home.styles.ts
  src/screens/home/home.test.tsx
  src/screens/home/home.tsx
  src/screens/home/home.types.ts
  src/screens/home/index.ts
  src/screens/index.ts
  src/shared/assets/index.ts
  src/shared/assets/page-not-found.svg
  src/theme/colors.ts
  tsconfig.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create primary and outlined buttons
  package-lock.json
  package.json
  src/app/(main)/(presence)/_layout.tsx
  src/app/payments/styles.ts
  src/shared/components/button/button.styles.ts
  src/shared/components/button/button.test.tsx
  src/shared/components/button/button.tsx
  src/shared/components/button/button.types.ts
  src/shared/components/button/index.ts
  src/shared/components/index.ts
  src/shared/index.ts
  src/theme/colors.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

feat: create primary and outlined buttons (#19)
  package-lock.json
  package.json
  src/app/(main)/(presence)/_layout.tsx
  src/app/payments/styles.ts
  src/shared/components/button/button.styles.ts
  src/shared/components/button/button.test.tsx
  src/shared/components/button/button.tsx
  src/shared/components/button/button.types.ts
  src/shared/components/button/index.ts
  src/shared/components/index.ts
  src/shared/index.ts
  src/theme/colors.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --bail --findRelatedTests: any of: *.test.{js,ts,jsx,tsx}
